@use '../../styles/variables' as v;

.main__container {
  .privacy__policy__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: v.$ghostwhite-color;
    background-color: v.$background-gradient;
    border-radius: 0.5rem;

    h2,
    h3,
    h4 {
      letter-spacing: 0.2rem;
      color: v.$third-color;
    }
    h4 {
      font-family: v.$h4-font-family;
    }
    a {
      color: v.$ghostwhite-color;
    }

    p,
    li {
      font-family: v.$p-font-family;
    }

    li {
      list-style: none;
      padding: 0;
    }
    ul {
      padding: 0;
    }

    .rgpd__rights {
      li {
        font-family: v.$p-font-family;
        font-style: italic;
      }
    }

    .cookies__types {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      :nth-child(1) {
        font-weight: 800;
      }
      :nth-child(3) {
        font-weight: 800;
      }
    }
  }
}
