@use '../../styles/variables' as v;

.main__container {
  .contact__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3,
    h2 {
      letter-spacing: v.$letter-spacing;
      color: v.$lighter-orange;
    }

    .message__success {
      width: 100%;
      color: green;
      border: 2px solid black;
      border-radius: 0.5rem;
    }
  }
  .form__main {
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main__wrapper {
      border-radius: 10px;
      padding: 2.8rem;
      width: 50%;
      box-shadow: 0 0 5px 5px #00000020;
      backdrop-filter: blur(5px);
      background-color: rgb(255 255 255 / 69%);

      .form__head {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
        text-align: center;
        margin: 0px 0 25px;
      }
      .form__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        .form__card {
          position: relative;
          width: 100%;

          .label__box {
            width: 100%;
            display: flex;
            margin-bottom: 2rem;
          }

          .form__input {
            padding: 20px 25px 15px;
            width: 100%;
            border: 1px solid #000;
            border-radius: 5px;
            background: transparent;
            outline: none;

            font-family: v.$p-font-family;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            box-sizing: border-box;

            &:valid,
            &:focus {
              border: 1px solid #515151;
            }

            &:valid ~ .form__label,
            &:focus ~ .form__label {
              color: #515151;
              top: 30%;
              transform: translateY(-70%);
              font-size: 13px;
              line-height: 23px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              transition: background-color 9999s ease-in-out 0s;
            }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          .form__label {
            position: absolute;
            left: 5px;
            top: 10%;
            transform: translateY(-50%);
            pointer-events: none;
            transition: 0.3s;
            margin: 0;

            font-family: v.$p-font-family;
            font-size: 18px;
            line-height: 28px;
            font-weight: 200;
            color: rgb(43 43 43);
          }
          .form__textarea {
            padding: 20px 25px 15px;
            width: 100%;
            border: 1px solid #000;
            border-radius: 5px;
            background: transparent;
            outline: none;

            font-family: v.$p-font-family;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            resize: none;
            box-sizing: border-box;

            &:valid,
            &:focus {
              border: 1px solid #515151;
            }

            &:valid ~ .form__textarea__label,
            &:focus ~ .form__textarea__label {
              color: #515151;
              top: 18%;
              transform: translateY(-82%);
              font-size: 13px;
              line-height: 23px;
            }

            // &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              transition: background-color 9999s ease-in-out 0s;
            }
          }
          .form__textarea__label {
            position: absolute;
            left: 5px;
            top: 10%;
            transform: translateY(-70%);

            font-family: v.$p-font-family;
            pointer-events: none;
            transition: 0.3s;
            margin: 0;
            font-size: 18px;
            line-height: 28px;
            color: rgb(43 43 43);
          }

          span {
            color: v.$main-color;
            font-family: 'Glacial Indifference';
            font-weight: 600;
          }
        }
      }
    }
  }
  .btn__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 0;
  }
  .btn__wrap button {
    padding: 0 32px;
    font-size: 18px;
    line-height: 48px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 5px 5px #00000020;
  }
  .btn__wrap button:hover {
    border: 1px solid #000;
    background: transparent;
  }

  @media screen and (min-width: 992px) and (max-width: 1500px) {
    .form__main {
      .main__wrapper {
        width: 70%;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .form__main {
      .main__wrapper {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .form__main {
      .main__wrapper {
        width: 100%;
      }
    }
  }
}
