.image__upload__component {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  input {
    width: 70%;
  }
  .profile__image {
    height: 25rem;
    width: auto;
    clip-path: circle(35%);
    margin: -2rem auto -3rem;
  }
}
